[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:mcwitt/nixpkgs.git
[submodule "home-manager"]
	path = home-manager
	url = git@github.com:mcwitt/home-manager.git
[submodule "nix-darwin"]
	path = nix-darwin
	url = git@github.com:mcwitt/nix-darwin.git
